<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.interviewmate.user.mapper.UserMapper">

    <select id="findById"
            parameterType="long"
            resultType="com.interviewmate.auth.domain.User">
        SELECT
            user_id,
            email,
            password,
            name,
            role,
            plan_type,
            status,
            created_at,
            updated_at
        FROM users
        WHERE user_id = #{userId}
    </select>

</mapper>